<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/new/' method='POST'>
      Saisi ici le numéro du potin que tu veux modifier :  <input type='text' name='gossip_by_index'/><br/>
      Balance ton potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>